<!doctype html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta name="viewport"  content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title></title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
</head>
  <body>
  
    <header class="bg-dark my-2">
      <div class="container-fluid">
        <div class="row">
          <div class="col-8">NAVBAR</div>
        </div>
      </div>
    </header>
    
    <main class="bg-ligth">
      <div class="container-fluid">
        <div class="row">
          <div class="col-8">
            CONTEÚDO
          </div>
        </div>
      </div>
    </main>
    
    <footer class="bg-dark">
      <div class="container-fluid">
        <div class="row">
          <div class="col">FOOTER AQUI</div>
        </div>
      </div>
    </footer>
    
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script>
  </body>
</html>